body
{
	background-color: #1C142C;
	color: #FFFFFF;
	font-family: "Arial";
	background-image: url("/images/back_main.png");
	background-attachment:fixed;
}
h1
{
	text-align: center;
}
div.entryway
{
	width: 222px;
	height: 238px;
	background-image: url("/boo1.png");
	text-align:center;
	font-size:0px;
	color: #1c142c;
	margin: 0px auto -1px auto;
}
div.entryway:hover
{
	background-image: url("/boo2.png");
	font-size: 20px;
	color: white;
}
.centered
{
	vertical-align:bottom;
}
.content
{
	width: 69%;
	float:left;
}
h2
{
	border-width:2px;
	border-color:#1C302C;
/*	background-color: #3B2A5C;
*/	width:100%;
}
.text
{
	border-width:2px;
	border-color:#1C302C;
	width:100%;
}
.right
{
	float:right;
	width:30%;
}
.sidebar
{
/*	background-color: #523B81;*/
	width:100%;
	font-size: 20px;
	text-align: center;
	border-width:2px;
	border-color:#1C142C;
	border-style:groove;
	margin-bottom: 15px;
	background-image: url("/images/back_side.png");
	background-position: center center;

}
.info
{
	font-size:10px;
}
.regtext
{
	font-size:15px;
}
a:link
{
	color:#00FF00;
}
a:visited
{
	color:#00FF00;
}
a:hover
{
	color:#55F9FF;
	/*font-weight:bold;*/
}
#telega
{
	/*width:300px;*/
	height:200px;
	background-image: url("/images/telega.png");
	background-repeat: no-repeat;
	text-align:left;
}
.icon
{
	width:100px;
	height:100px;
}
.tabootask
{
	background-color: #093F11;
	width:100%;
	border-width:2px;
	border-color:#1C142C;
	border-style:groove;
/*	float:left;*/
	margin-bottom: 5px;
}
.tabootask:hover
{
	background-color: #127B22;
}
.tabooprogress
{
	background-color: #586D14;
	width:100%;
	border-width:2px;
	border-color:yellow;
	border-style:groove;
/*	float:left;*/
	margin-bottom: 5px;
}
.tabooprogress:hover
{
	background-color: #7D9A1C;
}
.taboofailed
{
	background-color: #8F1517;
	width:100%;
	border-width:2px;
	border-color:yellow;
	border-style:groove;
/*	float:left;*/
	margin-bottom: 5px;
}
.taboofailed:hover
{
	background-color: #FF2529;
}
.tabootext
{
	text-align: justify;
}
.mail
{
	background-color:#108117;
	width:100%;
	border-width:2px;
	border-color:#EFF3E0;
	border-style:groove;
/*	float:left;*/
	margin-bottom: 5px;
}
.mail:hover
{
	background-color: #0D6412;
}
.bandit
{
	text-align:center;
	border-width: 2px;
	border-color: lime;
	border-style: groove;
}
.icons
{
	width:100px;
	height:100px;
	border-width: 2px;
	border-color: lime;
	border-style: groove;
	background-color: black;
	text-align: center;
	display:table-cell;
}
.big
{
	font-size: 23px;
	color: white;
}
.cell
{
	display: table-cell;
}
.row
{
	display: table-row;
}
.table
{
	display: table;
}
#button
{
	border-width: 2px;
	border-color: green;
	border-style: groove;
}
#button:hover
{
	background-color: #0E32FF;
}
.plaintext
{
	text-align: justify;
}
#i
{
	font-style: italic;
}
i
{
	color:#C8FFDD;
}
.footer
{
	clear: both;
	width:100%;
/*	border-color: #717171;
	border-width: 1;
	border-style: solid;
*/}
.msgset
{
	display: table;
	width: 100%;
}
.msg
{
	font-size: 14px;
	width: 20%;
	height: 50px;
	color: #00FF04;
	display: table-cell;
	border-color: gray;
	border-width: 1px;
	border-style: solid;
}
.msg:hover
{
	background-color: #0D3A0E;
}
.card
{
	font-family: "Arial";
	font-size: 50px;
	text-align: center;
	border-style: solid;
	border-color: green;
	border-width: 1px;
	background-color:black;
	width: 100px;
	height: 150px;
	display: table;
}
.card:hover
{
	color: #00F500;
}
.cardholder
{
	display:table-cell;
}
.cardcell
{
	display:	table-cell;
	width:		100%;
	vertical-align: middle;
	height:		inherit;
}
.card#i1
{
	background-image: url("/images/cards/eleepod.png");
}
.card#i0
{
	background-image: url("/images/cards/vanger.png");
}
.card#i2
{
	background-image: url("/images/cards/beeboorat.png");
}
.card#i3
{
	background-image: url("/images/cards/zeeksa.png");
}
#center
{
	text-align:center;
}
div.wrapper
{
	margin:0 auto;
	padding:5px;
	width:620px;
	border:1px solid #35528F;
}
div.errors
{
	color:#FF0000;
}
ul
{
	list-style:none;
	padding:5px;
}
ul li
{
	display:inline;
	padding-right:12px;
}
p.footer
{
	clear:both;
	text-align:center;
	font-size:10px;
}
div.block
{
	float:left;
	width:300px;
}
.errors
{
	color:red;
}
.game
{
	border-color: gray;
	border-style: groove;
	display: table;
	width: 95%;
}
.player
{
	display: table-row;
}
.player:hover
{
	background: #0D3A0E;
}
.player-name
{
	display: table-cell;
	width:60%;
	text-align: left;
}
.player-ratio
{
	display: table-cell;
	width:40%;
	text-align: left;
}
.hlite
{
	color: yellow;
}
.lowsight
{
	font-size: 120%;
}